<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuzavme5oDPpC3Fl1JTXbty8-44-35F-I</string>
	<key>GCM_SENDER_ID</key>
	<string>161225043681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramCloneApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-79565</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-79565.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161225043681:ios:6b13365cc0420ffc6351a0</string>
</dict>
</plist>